In [1]:
#Set working directory
import os
os.chdir("C:/Users/ABHAY RAJ SINGH/Desktop/DS_Trainer/Session_3")

In [2]:
#Create vector
Player1 = [16, 9, 13, 5, 2, 17, 14]

In [3]:
#Loops in python
for i in Player1:
    print(i)

16
9
13
5
2
17
14

In [6]:
import pandas as pd
german = pd.read_csv("German.csv", sep = ',')

In [10]:
german.head(3)
#german['Amount']

,Duration,Amount,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance,Telephone,ForeignWorker,Class,...,OtherInstallmentPlans.Stores,OtherInstallmentPlans.None,Housing.Rent,Housing.Own,Housing.ForFree,Job.UnemployedUnskilled,Job.UnskilledResident,Job.SkilledEmployee,Job.Management.SelfEmp.HighlyQualified,newcol
0,6,1169,4,4,67,2,1,0,1,Good,...,0,1,0,1,0,0,0,1,0,1175
1,48,5951,2,2,22,1,1,1,1,Bad,...,0,1,0,1,0,0,0,1,0,5999
2,12,2096,2,3,49,1,2,1,1,Good,...,0,1,0,1,0,0,1,0,0,2108

In [7]:
german['newcol'] = 0
for i in range(len(german)):
    german['newcol'].loc[i] = german['Amount'].loc[i] + german['Duration'].loc[i]

C:\Users\ABHAY RAJ SINGH\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [11]:
german['newcol_1'] = 0
for i in range(len(german)):
    if(german['ResidenceDuration'].iloc[i] == 4):
        german['newcol_1'].iloc[i] = 1

C:\Users\ABHAY RAJ SINGH\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
#Apply functions in python
import numpy as np
german.iloc[:,0:4].apply(np.sum, axis = 0)

Duration                       20903
Amount                       3271258
InstallmentRatePercentage       2973
ResidenceDuration               2845
dtype: int64